<ol class="breadcrumb">
  <li>
    {{#link-to "tasks.index"}}Tasks{{/link-to}}
  </li>
  <li class="active">{{model.title}}</li>
</ol>

<div class="">
  <h4 class="m-b-3">{{model.title}}</h4>

  <h5>Instructions</h5>
  <div class="m-b-3">{{model.text}}</div>

  <div class="bg-warning p-a-2 m-b-2">
    <h5>Restrictions</h5>
    {{#if (or model.minAge model.maxAge)}}
      <p>
        <strong>Age</strong>: {{age-range model.minAge model.maxAge}} years
      </p>
    {{/if}}
    {{#if model.countries.length}}
      <p>
        <strong>Geography</strong>:
        <ul class="list-unstyled p-l-2">
          {{#each model.countries as |country|}}
            <li>{{fa-icon "map-marker"}} {{country}}</li>
          {{/each}}
        </ul>
      </p>
    {{/if}}
    {{#if model.interests.length}}
      <p>
        <strong>Interests</strong>:
        <ul>
          {{#each model.interests as |interest|}}
            <li>{{interest}}</li>
          {{/each}}
        </ul>
      </p>
    {{/if}}
  </div>
</div>
