<ol class="breadcrumb">
  <li class="active">Tasks</li>
</ol>

<form class="form-inline m-b-lg" {{action (mut q) query on="submit"}}>
  <div class="form-group">
    <label class="sr-only" for="q">Search query:</label> {{input value=query type="text" class="form-control" id="q" placeholder="Enter query here"}}
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

<div class="text-right m-b-lg">
  {{#link-to "tasks.new" class="btn btn-primary" }}{{fa-icon "plus"}} Add task{{/link-to}}
</div>

{{#unless model.length}}
  <div class="alert alert-info m-t-md">No tasks so far.</div>
{{/unless}}

{{#each model as |item|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      {{#link-to 'tasks.detail' item.id class="pull-right" }}{{fa-icon 'chevron-circle-down'}}{{/link-to}}
      <h3 class="panel-title">{{#link-to 'tasks.detail' item.id}}{{item.title}}{{/link-to}}</h3>
    </div>
    <div class="panel-body">
      {{truncate item.text}}
    </div>
    {{#if (or item.minAge item.maxAge)}}
      <div class="panel-footer">{{age-range item.minAge item.maxAge}} years</div>
    {{/if}}
  </div>
{{/each}}

{{#if canShowMore}}
  <div class="text-center">
    <button class="btn btn-primary" {{action "showMore"}}>Show more</button>
  </div>
{{/if}}
