<ol class="breadcrumb">
  <li class="active">Tasks</li>
</ol>

<form class="form-inline m-b-lg" {{action (mut q) query on="submit"}}>
  <div class="form-group">
    <label class="sr-only" for="q">Search query:</label> {{input value=query type="text" class="form-control" id="q" placeholder="Enter query here"}}
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>

<div class="text-right m-b-lg">
  {{#link-to "tasks.new" class="btn btn-primary" }}{{fa-icon "plus"}} Add task{{/link-to}}
</div>

{{#unless model.length}}
  <div class="alert alert-info m-t-md">No tasks so far.</div>
{{/unless}}

{{#each (reverse model) as |task|}}
  <div class="panel panel-default task-list-item">
    <div class="panel-heading">
      <h3 class="panel-title">{{#link-to 'tasks.detail' task.id}}{{task.title}}{{/link-to}}</h3>
    </div>
    <div class="panel-body">
      {{truncate task.text}}
      <div class="text-right">
        {{#link-to 'tasks.detail' task.id}}Read more{{/link-to}}
      </div>
    </div>

    <div class="panel-footer hidden-xs">
      {{#if (or task.minAge task.maxAge)}}
        <span>
        {{age-range task.minAge task.maxAge}} years
        </span>
      {{/if}}
      {{#if task.countries.length}}
        <span>
          {{fa-icon "map-marker"}} {{task.countries.firstObject}}{{if (gt task.countries.length 2) "..."}}
        </span>
      {{/if}}
      {{#if task.interests.length}}
        <span class="pull-right">
          {{fa-icon "exclamation-circle"}} {{task.interests.firstObject}}{{if (gt task.interests.length 2) "..."}}
        </span>
      {{/if}}
    </div>
  </div>
{{/each}}

{{#if canShowMore}}
  <div class="text-center m-b-lg">
    <button class="btn btn-primary" {{action "showMore"}}>Show more</button>
  </div>
{{/if}}
