<ol class="breadcrumb">
  <li>
    {{#link-to "tasks.index"}}Tasks{{/link-to}}
  </li>
  <li class="active">New</li>
</ol>

<h4>New task</h4>
<form action="" {{action "submit" title text minAge maxAge on="submit"}} class="p-b-lg task-form">
  <div class="form-group">
    <label for="title">Title</label> {{input value=title class="form-control" id="title" placeholder="Title"}}
  </div>
  <div class="form-group">
    <label for="text">Text</label> {{textarea value=text class="form-control" id="text" placeholder="Text"}}
  </div>
  <div class="form-group age">
    <label for="minAge">Age range</label>
    <div class="m-b-md">
      {{input value=minAge type="number" class="" id="minAge" placeholder="min age" min="0" max=AGE_LIMIT}} - {{input value=maxAge type="number" class="" id="max age" placeholder="100" min="0" max=AGE_LIMIT}} years
    </div>
    {{range-slider start=start range=range connect=true step=1 on-slide="changeAgeRange"}}
  </div>
  <div class="m-t-lg">
    <button type="submit" class="btn btn-primary">Submit task</button>
    {{#link-to "tasks" class="btn btn-link" }}Cancel{{/link-to}}
  </div>
</form>
