{{#bs-navbar type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand" }}UX service{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#nav.link-to "list-exercise"}}Exercise{{/nav.link-to}}
      {{/nav.item}}
      {{#nav.item}}
        {{#nav.link-to "tasks"}}Tasks{{/nav.link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
    {{#navbar.nav class="navbar-right" as |nav|}}

      {{#if session.isAuthenticated}}
        {{#nav.dropdown tagName="li" class="hidden-xs" as |dd|}}
          {{#dd.toggle}}<img src= {{model.photo}} alt="" height="18" /> {{model.name}} <span class="caret"></span>{{/dd.toggle}}
          {{#dd.menu as |ddm|}}
            {{#ddm.item}}
              <a {{action 'invalidateSession'}} title="Logout">{{fa-icon "sign-out"}} Logout</a>
            {{/ddm.item}}
          {{/dd.menu}}
        {{/nav.dropdown}}
        {{#nav.item class="visible-xs"}}
          <a {{action 'invalidateSession'}} href="#" title="Logout">{{fa-icon "sign-out"}} Logout</a>
        {{/nav.item}}
      {{else}}
        {{#nav.item}}
          {{#nav.link-to "login"}}{{fa-icon "sign-in"}} Login{{/nav.link-to}}
        {{/nav.item}}
      {{/if}}

    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<div class="container-fluid">
  {{outlet}}
</div>
